{{define "base.html"}}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Train Trip</title>
  <link rel="icon" type="image/png" href="{{basePath}}/static/train_trip.png">
  <link rel="stylesheet" href="{{basePath}}/static/uchu.css">
  <link rel="stylesheet" href="{{basePath}}/static/style.css">
  <link rel="stylesheet" href="{{basePath}}/static/tabler-icons.min.css">
  <script src="{{basePath}}/static/htmx.min.js" defer></script>
</head>
<body>
  <header class="site-header">
    <a href="{{basePath}}/" class="site-title">Train Trip</a>
    <span class="site-time" id="clock">{{nowTime}}</span>
  </header>
  <main>
    {{template "content" .}}
  </main>
</body>
</html>
{{end}}
