[Unit]
Description=Train Trip
After=network.target

[Service]
ExecStart=/home/pi/train_trip/train_trip
Environment=PORT=8083
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
